<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaxin.pda.mapper.DictionaryMapper">

    <!-- 插入字典项 -->
    <insert id="insertDictionaryItem" parameterType="com.jiaxin.pda.entity.vo.DictionaryVo">
        INSERT INTO tb_dictionary (
            id,
            uuid,
            item_name,
            dictionary_type_id,
            order_no,
            delete_flag,
            reversion,
            created_by,
            created_time,
            updated_by,
            updated_time
        )
        VALUES
        (
            #{id},
            #{uuid},
            #{itemName},
            #{dictionaryTypeId},
            #{orderNo},
            #{deleteFlag},
            #{reversion},
            #{createdBy},
            #{createdTime},
            #{updatedBy},
            #{updatedTime}
        )
    </insert>

    <!-- 查询最大的uuid -->
    <select id="selectMaxUuid" resultType="java.lang.Integer">
        SELECT
        IFNULL( max( td.uuid), 0 )
        FROM
        tb_dictionary td
        WHERE
        td.delete_flag = 0
    </select>

    <!-- 修改字典项 -->
    <update id="updateDictionaryItem" parameterType="com.jiaxin.pda.entity.vo.DictionaryVo">
        UPDATE tb_dictionary
        SET item_name = #{itemName},
            order_no = #{orderNo},
            reversion = reversion + 1,
            updated_by = #{updatedBy},
            updated_time = #{updatedTime}
        WHERE
            id = #{id}
        and reversion = #{reversion}
    </update>

    <!-- 删除字典项 -->
    <update id="deleteDictionaryItem" parameterType="com.jiaxin.pda.entity.vo.DictionaryVo">
        UPDATE tb_dictionary
        SET item_name = #{itemName},
        delete_flag = #{deleteFlag},
        reversion = reversion + 1,
        updated_by = #{updatedBy},
        updated_time = #{updatedTime}
        WHERE
        id = #{id}
        and reversion = #{reversion}
    </update>

    <!-- 根据ID查询字典项 -->
    <select id="findById" parameterType="java.lang.String" resultType="com.jiaxin.pda.entity.vo.DictionaryVo">
        SELECT
            td.id,
            td.uuid,
            td.item_name AS itemName,
            td.order_no AS orderNo,
            td.dictionary_type_id AS dictionaryTypeId,
            td.delete_flag AS deleteFlag,
            td.reversion,
            td.created_by AS createdBy,
            td.created_time AS createdTime,
            td.updated_by AS updatedBy,
            td.updated_time AS updatedTime
        FROM
            tb_dictionary td
        WHERE
            td.id = #{id}
    </select>




    <!-- 根据条件分页查找字对象 -->
    <select id="queryDictionaryByPage" parameterType="com.jiaxin.pda.entity.dto.DictionaryDto" resultType="com.jiaxin.pda.entity.vo.DictionaryVo">
        SELECT
        td.id,
        td.uuid,
        td.reversion,
        td.created_by AS createdBy,
        td.created_time AS createdTime,
        td.updated_by AS updatedBy,
        td.updated_time AS updatedTime,
        td.item_name AS itemName,
        td.order_no as orderNo,
        td.delete_flag as deleteFlag
        FROM
        tb_dictionary td
        WHERE td.delete_flag = 0
        <if test="itemName != null and itemName != ''">
            and td.item_name like concat('%',#{itemName},'%')
        </if>
    </select>

    <!-- 根据类型ID分页查找字对象 -->
    <select id="queryDictionaryByTypeId" parameterType="java.lang.Integer" resultType="com.jiaxin.pda.entity.vo.DictionaryVo">
        SELECT
        td.id,
        td.uuid,
        td.reversion,
        td.created_by AS createdBy,
        td.created_time AS createdTime,
        td.updated_by AS updatedBy,
        td.updated_time AS updatedTime,
        td.item_name AS itemName,
        td.order_no as orderNo,
        td.delete_flag as deleteFlag
        FROM
        tb_dictionary td
        WHERE td.delete_flag = 0
        and td.dictionary_type_id = #{dictionaryTypeId}
        order by td.order_no asc
    </select>

    <!-- 根据名称查询数据字典类型信息 -->
    <select id="queryDictionaryItemInfoByName" parameterType="java.lang.String" resultType="com.jiaxin.pda.entity.vo.DictionaryVo">
        SELECT
            td.id,
            td.uuid,
            td.reversion,
            td.created_by AS createdBy,
            td.created_time AS createdTime,
            td.updated_by AS updatedBy,
            td.updated_time AS updatedTime,
            td.item_name AS itemName,
            td.order_no as orderNo,
            td.delete_flag as deleteFlag
        FROM
        tb_dictionary td
        WHERE td.delete_flag = 0
        and td.item_name = #{itemName}
    </select>
</mapper>